@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "worksans";
    src: url("../public/fonts/worksans/WorkSans-Thin.ttf");
    font-weight: 100;
  }

  @font-face {
    font-family: "worksans";
    src: url("../public/fonts/worksans/WorkSans-Light.ttf");
    font-weight: 300;
  }

  @font-face {
    font-family: "worksans";
    src: url("../public/fonts/worksans/WorkSans-Regular.ttf");
    font-weight: 400;
  }

  @font-face {
    font-family: "worksans";
    src: url("../public/fonts/worksans/WorkSans-Medium.ttf");
    font-weight: 500;
  }

  @font-face {
    font-family: "worksans";
    src: url("../public/fonts/worksans/WorkSans-SemiBold.ttf");
    font-weight: 600;
  }

  @font-face {
    font-family: "worksans";
    src: url("../public/fonts/worksans/WorkSans-Bold.ttf");
    font-weight: 700;
  }

  @font-face {
    font-family: "helvetica";
    src: url("../public/fonts/worksans/Helvetica-Light.ttf");
    font-weight: 300;
  }

  @font-face {
    font-family: "animo";
    src: url("../public/fonts/Animo.otf");
  }

  * {
    @apply text-white font-worksans scroll-smooth;
  }

  html {
    @apply bg-black overflow-x-hidden;
  }

  /* GLOBALS */

  p,
  a {
    @apply text-base;
  }

  /* SETTING */

  *:focus {
    outline: none !important;
  }
  *:focus-visible {
    outline: none !important;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #27272738;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7e20fc;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7e20fc;
  }

  ::selection {
    color: white;
    background: orange;
  }

  ::-webkit-selection {
    color: white;
    background: orange;
  }

  ::-moz-selection {
    color: white;
    background: orange;
  }
}

@layer components {
  .font-animo {
    font-family: "animo" !important;
  }

  .container {
    @apply w-[90%] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px] mx-auto;
  }
  .container-2 {
    @apply w-[90%] lg:w-[80%] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1280px] mx-auto;
  }
  .container-full {
    @apply w-full max-w-[1280px] mx-auto;
  }

  .text-gradient-purple {
    background: linear-gradient(0deg, #7e20fc, #598ff1);
    -webkit-background-clip: text;
    color: transparent;
  }

  /* MARGINS */

  /* FONT SIZES */

  .fs-56px {
    @apply text-2xl md:text-4xl xl:text-5xl;
  }

  .fs-20px {
    @apply text-xl;
  }

  .fs-22px {
    @apply text-base sm:text-lg xl:text-[22px];
  }

  .fs-24px {
    @apply text-base sm:text-lg xl:text-2xl;
  }

  .fs-28px {
    @apply text-[28px];
  }
  .fs-30px {
    @apply text-3xl;
  }

  .fs-16px {
    @apply text-sm xl:text-base;
  }

  .fs-18px {
    @apply text-lg;
  }

  .hero-video-card {
    @apply flex-1 relative;
  }
  .hero-video-card video {
    @apply absolute top-0 left-[50%] h-full w-full translate-x-[-50%] object-cover;
    /* skew-x-[-15deg] */
  }

  /* FOOTER */

  .footer-links {
    @apply grid grid-cols-[auto_auto] md:grid-cols-[repeat(5,auto)] justify-center gap-8 md:gap-0 md:justify-between px-10 mb-20;
  }

  .footer-links-title {
    @apply text-base lg:text-lg xl:text-2xl text-white font-bold mb-4;
  }

  .footer-link {
    @apply text-xs xl:text-lg text-white font-light w-fit block transition-all duration-[.2s] hover:text-purple-light;
  }

  .footer-social-icon {
    @apply group-hover:fill-purple-light transition-all duration-[.2s];
  }

  .footer-info-btn {
    @apply py-[0.2rem] xl:py-[0.3rem] px-3 xl:px-4 bg-purple-gradient-2 text-white text-xs font-medium rounded-sm;
  }
}

.white-icon {
  color: white !important;
  fill: white !important;
}

.black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 101 !important;
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
}
.black-screen.show {
  opacity: 1;
  pointer-events: visible;
}

.purple-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: linear-gradient(to top, transparent, #7f20fc73);
  pointer-events: none;
  user-select: none;
}

/* SCROLLBARS */

.scrollbar-blue::-webkit-scrollbar {
  width: 3px;
}

.scrollbar-blue::-webkit-scrollbar-track {
  background-color: #000000ab;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 3px #000000ab;
}

.scrollbar-blue::-webkit-scrollbar-thumb {
  background: #598ff1;
  border-radius: 10px;
}
